.about{
    .section-text{
        font-size: 2.3rem;
        margin: 0 auto;
        color: $gray-text;
        text-align: center;
        max-width: 90rem;
        padding: 0 2rem;
        margin-top: -2rem;
    }
}