$primary-color: #00a2b8;
$secondary-color: #00c6a7;

$white: #ffffffcc;
$black: #202b36;
$gray: #f6f8fa;
$gray-text: #5B6F82;;

$primary-gradient: linear-gradient(57deg, #00c6a7 0%, #1e4d92 100%);
$secondary-gradient: linear-gradient(65deg, #00a2b8 -25%, #00f9d2 100%);

$btn-box-shadow: 0 8px 24px rgba(32, 43, 54, 0.12);
$box-shadow: 0 16px 48px #e3e7eb;

$mainColor1: #00c6a7;
$mainColor: #00a2b8;
